.heading{
    background-image:url(/dice_images/dice.png);
    background-position: center;
    background-size: 18%;
}

@keyframes dice{
    0% {background-color: hsl(39, 100%, 50%); left: 0px; top: 0px;}
    25% {background-color: hsl(60, 100%, 50%); left: 200px; top: 0px;}
    50% {background-color: hsl(108, 79%, 66%); left: 200px; top: 200px}
    75% {background-color: hsl(284, 74%, 52%); left: 0px; top: 200px;}
    100% {background-color: hsl(219, 79%, 66%); left: 0px; top: 0px;}
}

.dice-animation {
    animation: dice 5s infinite;
    height: 200px;
    display: flex;
    justify-content: center;
}


h1{
    font-size: 5rem;
    text-shadow: 5px 5px white;
    text-align: center;
    font-family: 'Poetsen One', 'Times New Roman', Times, serif;
}

#container{
    font-family: 'Poetsen One', 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 2em;
    font-weight: bold;

}

button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border:none;
    background-color: hsl(0, 0%, 0%);
    color: white;
    font-weight:bold;
    cursor:pointer;
    box-shadow: 1px 1px white;
}

button:hover{
    background-color: hsl(61, 87%, 71%);
    color: black;
    box-shadow: 1px 1px white;
}

button:active{
    background-color: hsl(61, 97%, 50%);
    box-shadow: 1px 1px white;
}

input{
    font-size: 2rem;
    width: 100px;
    text-align: center;
    font-weight: bold;

}

#diceResults {
    margin: 25px;
}

#diceImages img{
    width: 150px;
    margin: 5px;
}

body{
    background-color: hsl(20, 99%, 32%);
    
}


/* Fonts */

@font-face {
    font-family: 'Poetsen One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/poetsenone/v3/ke8hOgIaMUB37xCgvCntWuIoofOzEqG8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}